# Кластеризация исполнителей по жанрам

В этом задании вы попробуете кластеризовать исполнителей по жанрам на основе данных о прослушивании.

В матрице sample_matrix по строкам стоят пользователи, а по столбцам - исполнители.

Для каждой пары (пользователь,исполнитель) в таблице стоит число - доля (процент) прослушивания этого исполнителя выбранным пользователем.

## Импорт библиотек, загрузка данных

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_excel("https://github.com/evgpat/edu_stepik_rec_sys/blob/main/datasets/sample_matrix.xlsx?raw=true", engine='openpyxl')

In [3]:
ratings.head()

,user,the beatles,radiohead,deathcab for cutie,coldplay,modest mouse,sufjan stevens,dylan. bob,red hot clili peppers,pink fluid,...,municipal waste,townes van zandt,curtis mayfield,jewel,lamb,michal w. smith,群星,agalloch,meshuggah,yellowcard
0,0,NaN,0.020417,NaN,NaN,NaN,NaN,NaN,0.030496,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,0.184962,0.024561,NaN,NaN,0.136341,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,0.028635,NaN,NaN,NaN,0.024559,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0.043529,0.086281,0.034590,0.016712,0.015935,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Задание

Транспонируем матрицу ratings, чтобы по строкам стояли исполнители.

In [4]:
ratings = ratings.T

Выкиньте строку под названием `user`.

In [6]:
# ваш код здесь
ratings = ratings.drop('user', axis=0)
ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
the beatles,NaN,NaN,NaN,NaN,0.043529,NaN,NaN,NaN,0.093398,0.017621,...,NaN,NaN,0.121169,0.038168,0.007939,0.017884,NaN,0.076923,NaN,NaN
radiohead,0.020417,0.184962,NaN,NaN,0.086281,0.006322,NaN,NaN,NaN,0.019156,...,0.017735,NaN,NaN,NaN,0.011187,NaN,NaN,NaN,NaN,NaN
deathcab for cutie,NaN,0.024561,0.028635,NaN,0.034590,NaN,NaN,NaN,NaN,0.013349,...,0.121344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027893
coldplay,NaN,NaN,NaN,NaN,0.016712,NaN,NaN,NaN,NaN,NaN,...,0.217175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
modest mouse,NaN,NaN,NaN,NaN,0.015935,NaN,NaN,NaN,NaN,0.030437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Заполните пропуски нулями.

In [7]:
# ваш код здесь
ratings = ratings.fillna(0)
ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
the beatles,0.000000,0.000000,0.000000,0.0,0.043529,0.000000,0.0,0.0,0.093398,0.017621,...,0.000000,0.0,0.121169,0.038168,0.007939,0.017884,0.0,0.076923,0.0,0.000000
radiohead,0.020417,0.184962,0.000000,0.0,0.086281,0.006322,0.0,0.0,0.000000,0.019156,...,0.017735,0.0,0.000000,0.000000,0.011187,0.000000,0.0,0.000000,0.0,0.000000
deathcab for cutie,0.000000,0.024561,0.028635,0.0,0.034590,0.000000,0.0,0.0,0.000000,0.013349,...,0.121344,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.027893
coldplay,0.000000,0.000000,0.000000,0.0,0.016712,0.000000,0.0,0.0,0.000000,0.000000,...,0.217175,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
modest mouse,0.000000,0.000000,0.000000,0.0,0.015935,0.000000,0.0,0.0,0.000000,0.030437,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000

Нормализуйте данные при помощи `normalize`.

In [9]:
from sklearn.preprocessing import normalize

# ваш код здесь
normalized_ratings = normalize(ratings, axis=0)
normalized_ratings = pd.DataFrame(data=normalize(ratings, axis=0), 
                                  columns=ratings.columns,
                                  index=ratings.index)
normalized_ratings

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
the beatles,0.000000,0.000000,0.00000,0.0,0.207988,0.000000,0.0,0.0,0.548752,0.114156,...,0.000000,0.0,0.447148,0.108672,0.019856,0.052353,0.0,0.198655,0.0,0.000000
radiohead,0.123216,0.666268,0.00000,0.0,0.412263,0.022759,0.0,0.0,0.000000,0.124101,...,0.053653,0.0,0.000000,0.000000,0.027979,0.000000,0.0,0.000000,0.0,0.000000
deathcab for cutie,0.000000,0.088475,0.17379,0.0,0.165277,0.000000,0.0,0.0,0.000000,0.086482,...,0.367100,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.148364
coldplay,0.000000,0.000000,0.00000,0.0,0.079853,0.000000,0.0,0.0,0.000000,0.000000,...,0.657016,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
modest mouse,0.000000,0.000000,0.00000,0.0,0.076139,0.000000,0.0,0.0,0.000000,0.197178,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
michal w. smith,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
群星,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
agalloch,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
meshuggah,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
yellowcard,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000

Примените KMeans с 5ю кластерами на преобразованной матрице (сделайте fit, а затем вычислите кластеры при помощи predict).

In [16]:
from sklearn.cluster import KMeans

# ваш код здесь
k = 5
model = KMeans(k).fit(normalized_ratings)
pred = model.predict(normalized_ratings)

/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Выведите на экран центры кластеров (центроиды)

In [17]:
# ваш код здесь
model.cluster_centers_

array([[0.00486564, 0.00175402, 0.00381548, ..., 0.00197931, 0.00277458,
        0.00379342],
       [0.        , 0.        , 0.        , ..., 0.1986554 , 0.        ,
        0.        ],
       [0.01847438, 0.02305777, 0.02985003, ..., 0.00669763, 0.00304485,
        0.01947278],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.14789485,
        0.17293683]])

Для каждого кластера выведите топ-10 исполнителей, наиболее близких к центроидам соотвествующего кластера.

In [27]:
# ваш код здесь
import numpy as np

# Получение центроидов кластеров
centroids = model.cluster_centers_

# Вывод топ-10 исполнителей для каждого кластера
for i in range(k):
    # Выбор объектов, принадлежащих кластеру i
    cluster = normalized_ratings[model.labels_ == i]
    # Вычисление расстояний от центроида до объектов кластера
    distances = np.linalg.norm(cluster - centroids[i], axis=1)
    # Сортировка объектов по расстояниям и вывод топ-10
    top_artists = list(normalized_ratings.iloc[np.argsort(distances)][:10].index)
    print(f"Top 10 artists for cluster {i}: {top_artists}")

Top 10 artists for cluster 0: ['fear before the march of flames', 'buckethead', 'wire', 'kmfdm', 'diana krall', 'reinhardt, django', 'lin que', 'raekwon', 'lou reed', 'the mighty mighty bosstones']
Top 10 artists for cluster 1: ['the beatles']
Top 10 artists for cluster 2: ['rilo kiley', 'cat power', 'mgmt', 'animal collective', 'pearl jam', 'spoon', 'metallica', 'the clash', 'the flaming lips', 'tool']
Top 10 artists for cluster 3: ['the beatles']
Top 10 artists for cluster 4: ['the beatles']

Проинтерпретируйте результат. Что можно сказать о смысле кластеров?