# 1.4 Pandas, Dataframes, нет, панды тут ни при чем

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [5]:
df.groupby('gender').aggregate({'writing score': 'mean'})

        writing score
gender
female      72.467181
male        63.311203

In [6]:
df.shape, df.size

((1000, 8), 8000)

In [7]:
df.iloc[[0, 3, 10], 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
10,male,group C,associate's degree,standard,none

In [8]:
df_with_names = df.iloc[[0, 3, 4, 7, 8]]
df_with_names.index = ['Cersei', 'Tywin', 'Gregor', 'Joffrey', 'Ilyn Payne']
df_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Gregor,male,group C,some college,standard,none,76,78,75
Joffrey,male,group B,some college,free/reduced,none,40,43,39
Ilyn Payne,male,group D,high school,free/reduced,completed,64,64,67

In [9]:
df_with_names.loc[['Cersei', 'Joffrey'], ['gender', 'writing score']]

         gender  writing score
Cersei   female             74
Joffrey    male             39

In [10]:
display(df_with_names['gender'])
display(type(df_with_names['gender']))
display(df_with_names['gender'].shape)

Cersei        female
Tywin           male
Gregor          male
Joffrey         male
Ilyn Payne      male
Name: gender, dtype: object

pandas.core.series.Series

(5,)

In [11]:
display(df_with_names[['gender']])
display(type(df_with_names[['gender']]))
display(df_with_names[['gender']].shape)

            gender
Cersei      female
Tywin         male
Gregor        male
Joffrey       male
Ilyn Payne    male

pandas.core.frame.DataFrame

(5, 1)

In [12]:
df_with_names[['gender']].describe()

       gender
count       5
unique      2
top      male
freq        4

А теперь используем эти методы на знаменитом титаническом датасэте! Загрузите датасэт, посмотрите на датафрэйм и ответьте на вопросы
https://stepik.org/media/attachments/course/4852/titanic.csv
Комментарий: в ответе необходимо указать количество колонок.

In [13]:
df_titanic = pd.read_csv('https://stepik.org/media/attachments/course/4852/titanic.csv')
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
df_titanic.shape

(891, 12)

In [15]:
df_titanic.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

# 1.5 Фильтрация данных

In [16]:
df.loc[df['gender'] == 'female'][['gender', 'writing score']]

     gender  writing score
0    female             74
1    female             88
2    female             93
5    female             78
6    female             92
..      ...            ...
993  female             74
995  female             95
997  female             65
998  female             77
999  female             86

[518 rows x 2 columns]

Аналитик Ярослав захотел отфильтровать данные по комбинации условий и отобрать только те наблюдения, у которых значение по переменной writing score >  100, а значение переменной gender == female. Для этого Ярослав написал следующий запрос: 

    students_performance[students_performance['writing score'] > 100 and students_performance.gender == 'female']

Однако в результате получил такую ошибку:

Truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all()

Ошибки являются важной и неотъемлемой частью обучения. Не бойтесь, что поначалу большая часть ваших запросов будет завершаться чем-то подобным. Уметь находить причину ошибки - очень ценный навык. Во-первых, можно разобраться самому, но не менее полезно обратиться за помощью к более опытным коллегам. Давайте проверим, сталкивался кто-либо с подобной проблемой? 

Запрос в гугл с текстом ошибки сразу же приводит нас на https://stackoverflow.com. Обещаю, вы полюбите этот сайт!)

Итак, давайте разберемся в чем же была проблема с запросом Ярослава? Изучите обсуждение этой проблемы на stackoverflow.com.

In [17]:
# df[df['writing score'] > 100 and df.gender == 'female']
# ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
df[(df['writing score'] > 100) & (df.gender == 'female')]

Empty DataFrame
Columns: [gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []

- При работе с pandas series для логического И нужно использовать & вместо уже знакомого and, | вместо or
- Нужно указать приоритет операций, взяв условия в скобки [(condition) и (condition)]

In [19]:
mean_writing_score = df['writing score'].mean()
some_query = (df['writing score'] > mean_writing_score) & (df.gender == 'female')
display(df.loc[some_query].head())
display(df[some_query].head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

У какой доли студентов из датасэта в колонке lunch указано free/reduced?
https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv
Формат ответа десятичная дробь, например, 0.25

In [20]:
df[df['lunch'] == 'free/reduced'].shape[0] / df.shape[0]

0.355

Как различается среднее и дисперсия оценок по предметам у групп студентов со стандартным или урезанным ланчем?

In [21]:
for lunch in ['standard', 'free/reduced']:
    some_query = df['lunch'] == lunch
    print(lunch)
    print('mean')
    display(df[some_query][['reading score', 'writing score', 'math score']].mean())
    print()

    print('variance')
    display(df[some_query][['reading score', 'writing score', 'math score']].var())
    print('-'*20)

standard
mean

reading score    71.654264
writing score    70.823256
math score       70.034109
dtype: float64

variance

reading score    191.285560
writing score    205.620887
math score       186.418089
dtype: float64

--------------------
free/reduced
mean

reading score    64.653521
writing score    63.022535
math score       58.921127
dtype: float64

variance

reading score    221.871139
writing score    238.202881
math score       229.824270
dtype: float64

--------------------

### query

In [23]:
df = df.rename(columns=
               {'parental level of education': 'parental_level_of_education',
                'test preparation course': 'test_preparation_course',
                'math score': 'math_score',
                'reading score': 'reading_score',
                'writing score': 'writing_score'})
df.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [27]:
writing_score_some_value = 78

In [29]:
df.query('writing_score > @writing_score_some_value and gender == "female"')

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88
...,...,...,...,...,...,...,...,...
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
989,female,group D,some college,free/reduced,completed,67,86,83
995,female,group E,master's degree,standard,completed,88,99,95
999,female,group D,some college,free/reduced,none,77,86,86

Обратите внимание, query не применяется к колонкам, название которых содержит недопустимые символы (типа пробел, слэша). Ещё пример query, аналогичный isin() 

    variants = ['var1', 'var2']
    df.query('col1 == @variants')