# 1.4 Pandas, Dataframes, нет, панды тут ни при чем

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [4]:
df.groupby('gender').aggregate({'writing score': 'mean'})

        writing score
gender
female      72.467181
male        63.311203

In [5]:
df.shape, df.size

((1000, 8), 8000)

In [6]:
df.iloc[[0, 3, 10], 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
10,male,group C,associate's degree,standard,none

In [7]:
df_with_names = df.iloc[[0, 3, 4, 7, 8]]
df_with_names.index = ['Cersei', 'Tywin', 'Gregor', 'Joffrey', 'Ilyn Payne']
df_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Gregor,male,group C,some college,standard,none,76,78,75
Joffrey,male,group B,some college,free/reduced,none,40,43,39
Ilyn Payne,male,group D,high school,free/reduced,completed,64,64,67

In [9]:
df_with_names.loc[['Cersei', 'Joffrey'], ['gender', 'writing score']]

         gender  writing score
Cersei   female             74
Joffrey    male             39

In [16]:
display(df_with_names['gender'])
display(type(df_with_names['gender']))
display(df_with_names['gender'].shape)

Cersei        female
Tywin           male
Gregor          male
Joffrey         male
Ilyn Payne      male
Name: gender, dtype: object

pandas.core.series.Series

(5,)

In [17]:
display(df_with_names[['gender']])
display(type(df_with_names[['gender']]))
display(df_with_names[['gender']].shape)

            gender
Cersei      female
Tywin         male
Gregor        male
Joffrey       male
Ilyn Payne    male

pandas.core.frame.DataFrame

(5, 1)